.spacer {
    flex: 1 1 auto;
  }

  .app-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background: #f5f6fa;
  }

  .main-content {
    flex: 1 0 auto;
    padding: 1rem;
  }

  .page-container {
    min-height: calc(100vh - 64px - 50px); /* Adjust based on your header and footer heights */
    padding: 16px;
    display: flex;
    flex-direction: column;
  }